:root {
    --color-primary: #ff6e40;
    --color-back-light: #ECEFF1;
    --color-back-dark: #37474f;
    --spacer-base: 1em;
    --card-font-size: 90%;
    --header-font-size: 32px;
    --header-height: 8em;
}
body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: var(--color-back-light);
}
header {
   padding: 0 var(--spacer-base);
   background-color: var(--color-back-dark);
   height: var(--header-height);

}
header h1 {
    margin: 0;   
    font-size: var(--header-font-size);
    color: white;
}
header h1 span {
    color: var(--color-primary);
}
figure {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    opacity: 0;
    transition: opacity 1s;
}
.card {
	background: white;
	margin-bottom: 2em;	
    padding: 0;
    /*width: 24%;*/
   
}
.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: var(--card-font-size);   
}
.card-actions {
	padding: 0.5em 1.4em;
	font-size: var(--card-font-size);      
}
.card:hover button {
    opacity: 1;
}



/* add your styles here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card:hover .thumbnail img {
    filter: saturate(150%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for tablet portrait and mobile landscape screens */

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    :root {
        --card-font-size: 100%;
        --header-height: 5em;
    }
}

/* styles for mobile protrait screen */

@media (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
    }

    :root {
        --card-font-size: 100%;
        --header-font-size: 24px;
        --header-height: 4em;
    }
}

